body {
    background: #000000 top left;
    color: #FFFFFF;
    margin: 20px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

.main{
    padding: 20px;
}

.ui-widget-header{
    padding: 20px;
}

.ui-slider-horizontal{
    width: 1000px;
}

.just_display{
    border:0px;
    background: transparent;
    padding-bottom: 15px;
}

